.books img{
    float: left;
    margin: 8px 7px 16px 0;
    width: 200px;
    border-radius: 5px;
}

#books {
    margin: 0 2rem;
}

.books, .divider {
    background-color: #fefefe;
    clear: left;
    margin: 1rem 0;
}

.divider {
    height: 3rem;
    background-color: blue;
    /* margin: 3rem 0; */
}

.descriptions {
    text-align: justify;
}